
@model IEnumerable<Academia.Models.Pessoa>

@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div style="padding:10px;">

            <img src="~/Images/academia.jpg" alt="Sample Image" width="1024px" height="800px" />
    </div>
